
.corpus_table__component {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: base;
}

#corpus_table__component-text {
    margin-bottom: 50px;
    color: #575454;
}

.corpus_table__component-data {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    width: 90%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.corpus_table__component-data thead tr {
    background-color: #135fec;
    color: #ffffff;
    text-align: left;
}

.corpus_table__component-data th,
.corpus_table__component-data td {
    padding: 12px 15px;
}

.corpus_table__component-data tbody tr {
    border-bottom: 1px solid #dddddd;
}

.corpus_table__component-data tbody tr:nth-of-type(even) {
    background-color: #d0dffb;
}

.corpus_table__component-data tbody tr:last-of-type {
    border-bottom: 2px solid #135fec;
}

.corpus_table__component-data tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

.corpus_table__component_search {
    width: 90%;
    display: flex;
    justify-content: center;
}

#corpus_table__component_search-input {
    width: 90%;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
}