.corpus_table__component {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: base;
}

#corpus_table__component-text {
    margin-bottom: 50px;
    color: #172b4d;
}

.corpus_table__component-data {
    border-collapse: collapse;
    font-size: 0.9em;
    font-family: sans-serif;
    width: 90%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.corpus_table__component-data thead tr {
    background-color: #135fec;
    color: #ffffff;
    text-align: left;
}

.corpus_table__component-data th,
.corpus_table__component-data td {
    padding: 12px 15px;
}

.corpus_table__component-data tbody tr {
    border-bottom: 1px solid #dddddd;
}

.corpus_table__component-data tbody tr:nth-of-type(even) {
    background-color: #d0dffb;
}

.corpus_table__component-data tbody tr:last-of-type {
    border-bottom: 2px solid #135fec;
}

.corpus_table__component-data tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

.corpus_table__component-data-table-action {
    display: flex;
    flex-direction: row;
}

.corpus_table__component-data-table-action-table-delete {
    color: black;
    font-weight: bold;
    text-decoration: none;
}

.corpus_table__component-data-table-action-table-update {
    color: black;
    text-decoration: none;
    font-weight: bold;
    margin-left:2px;
}

.corpus_table__component_search {
    width: 90%;
    display: flex;
    justify-content: center;
}

#corpus_table__component_search-input {
    width: 100%;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
}

#corpus_table__component_search-add-word-button {
    margin-top:10px;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    float: right;
}

.corpus_table__component-search-entries {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.corpus_table__component-search-entries-left {
    justify-self: start;
    flex-direction: row;
    display: flex;
    align-items: center;
}

.corpus_table__component-search-entries-right {
    align-self:self-end;
    column-gap: 10px;
    display: flex;
}

.corpus_table__component-pagination {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.corpus_table__component-pagination-left {
    justify-self: start;
    flex-direction: row;
    display: flex;
    align-items: center;
}

.corpus_table__component-pagination-right {
    align-self:self-end;
}

.corpus_table__component-bottom-add-word-button{
    display: flex;
    flex-direction: column; /* To stack the items vertically */
    align-items: flex-end; /* Align items to the bottom of the container */
    height: 200px; /* Optional: Set a height for the container */
}

.corpus_table__component-bottom {
    display: flex;
    flex-direction: column;
    max-height: 50px;
    width: 90%;
    height: 100px;
}

.corpus_table__component-add-button {
    float: right;
    margin-top: auto; /* Push the button to the bottom of the container */
}


.corpus_table__component-add-word {
    transform: translate(-50%, -50%); 
    width: 90%;
}

.corpus_table__component-add-word-form {
    display: flex;
    justify-content: center;
}

.corpus_table__component-add-word-input {
    width: 100%;
}

.corpus_table__component-add-word-header {
    text-align: end;
}

.corpus_table__component-inner {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: base;
}

/* Reuseable CSSs */

.corpus_table__component-center {
    position: absolute;
    top: 50%; /* Moves the top edge of the child element to the center of the parent */
    left: 50%; /* Moves the left edge of the child element to the center of the parent */
}

.corpus_table__component-blur {
    filter:blur(1.5rem);
}

.blurred {
    filter: blur(5px); /* Set the amount of blur you desire */
}

.corpus_window {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    z-index: 999; 
};

.corpus_window__content {
    /* Add styles for the window content */
    background: #fff;
}

.corpus_window__content_form{
    display:flex;
    min-height: 115px;
    flex-direction: column;
    background-color: white;
}

.corpus_window__content_form_header{
    width: 100%;
    background-color: #172b4d;
    color: white;
}

#corpus_window__content_form_submit{
    align-self: end;
    margin-left:2px;
    margin-right: 2px;
}

#corpus_window__content_form_return{
    align-self: start;
    margin-left:2px;
    margin-right: 2px;
}

.corpus_window__content_form_buttons{
    width: 100%;
    display:flex;
    justify-content: space-between;
    align-self: self-end;
}

.content_window__content_form_inputs{
    margin-top:20px;
    margin-left:2px;
    margin-right: 2px;
}

.corpus_window__content_form_actions{
    width: 100%;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

#corpus_window__content_form_input{
    width: 100%;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
}

/* CSS */
.button-10 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6px 14px;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
  border-radius: 6px;
  border: none;

  color: #fff;
  background: #172b4d;
   background-origin: border-box;
  box-shadow: 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-10:focus {
  box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2), 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
  outline: 0;
}